.titre-simplexe h3{
    text-align: center;
    margin-top: 1em;
    color:blue;
    margin: 0.5em;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
}

.nav-link{
    color:blue
}

.logo{
    width: 120px;
}

.masquer{
    display: none;
}

.simplexe-contenaire{
    margin:0.5em ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.simplex-parametres{
    display: flex;
    justify-content: center;
}

.simplexe-fonction{
    width: max-content;
}

.simplexe-fonction input[type="number"] {
    display: inline-block;
    width: 90px;
    height: 30px;
    margin-right: 5px;
}

.simplexe-fonction span {
    display: inline-block;
    margin-right: 5px;
}

.simplexe-fonction label,
.simplexe-fonction p {
    display: inline-block;
    margin-right: 10px;
}

.contrainte {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contrainte label {
    margin-right: 10px;
}

.contrainte input,

.contrainte select {
    width: 90px;
    margin-right: 5px;
}

.resolution-contenaire{
    display: flex;
    justify-content: center;
 
}

.noter-bien{
    display: flex;
    justify-content: center;
    color:red;
    flex-wrap: wrap;
}

.simplxe-about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5em;
    
}

.description{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
    width: 700px;
}

.titre-about h3{
    text-align: center;
    margin-top: 2em;
    color:red;
    margin-left: 0.5em;
    margin-right: 0.5em;

}

.groupe{
    display: flex;   
    justify-content: center; 
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 2em;
}

.membre{
    color: blue;
}